<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
</head>
<body>
    <h2>Olá, {{name}}!</h2>
    <p>Recebemos um pedido para redefinir sua senha. Você pode redefinir sua senha clicando no link abaixo:</p>
    <p><a href="{{resetPasswordUrl}}" target="_blank">Redefinir Senha</a></p>
    <p>Se você não solicitou essa alteração, ignore este e-mail.</p>
    <p>Atenciosamente,<br>Equipe de Suporte</p>
</body>
</html>
